* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(0, 0, 153);
  --secondary: rgb(230,115,0);
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
}

body {
  background: #ededed;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: var(--secondary);
  padding: 30px 25px;
  border-bottom: 5px solid var(--primary);
}

header p {
  color: var(--tertiary);
  margin: 5px 0 20px;
  font-size: 2rem;
}

footer {
  width: 100%;
  background: var(--secondary);
  color: var(--tertiary);
  font-size: 2.4rem;
  padding: 20px;
  border-top: 5px solid var(--primary);
}

.page-title {
  color: var(--primary); 
  margin: auto;
  width: 30%;
  font-size: 4.5rem;
}

.page-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
}

.question{
font-weight: 200;
}

.answers {
  margin-bottom:30px;
}

.answers label{
  display: block;
}

#submit{
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 25px;
  color: var(--primary);
  border: 0px;
  border-radius: 2px;
  padding: 30px;
}

#submit:hover{
  background-color:var(--secondary);
}

.quiz-block {
  color: var(--primary);
  position: relative;
  height: 200px;
  margin-top: 30px;
  width: 50%;
}

@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .task-list-wrapper {
    flex-basis: 100%;
  }

}
